{#
/**
 * @file
 * Emergency Block.
 * Displayed on "Emergency" page and modal/dialog.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-id--emergency',
    'block-type--' ~ configuration.provider|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    <div class="block__content">
      <div class="emergency-location">
        <span class="emergency-label">
          {{ 'Northwest Portland:'|t }}
        </span>
        <span class="emergency-location__location">
          1945 NW Pettygrove Street, Portland OR
        </span>
        <a href="https://goo.gl/maps/See6zUaovMp" target="_blank" class="button--emergency--map">{{ 'Launch Map'|t }}</a>
        <span class="emergency-location__located">{{ 'Located on Pettygrove between NW 19th and 20th Ave.'|t }}</span>
      </div>
      <div class="emergency-call">
        <span class="emergency-label">
          {{ '24 Hours, 7 Days a Week:'|t }}
        </span>
        <a href="tel:(503)228-7281" class="button--emergency--call">(503) 228-7281</a>
      </div>

      {{ content }}
    </div>
  {% endblock %}
</div>
