{#
/**
 * @file
 * FAQs Landing view exposed filters form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="form--inline clearfix">
  <div class="form-group--search grid-container">
    <div class="form-group--search__inner">
      {{ form.search }}
      {{ form.actions }}
    </div>
  </div>
  <div class="form-group--categories">
    {{ form.category }}
  </div>
  <div class="form-group--categories--mobile">
    <div class="form-group--categories--mobile__inner grid-container">
      {{ form.faqs_category }}
    </div>
  </div>
</div>
