{#
/**
 * @file
 * Found Pet node - View Mode: Full.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{{ attach_library('classy/node') }}
{%
  set classes = [
    'node',
    'node--type--' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode--' ~ view_mode|clean_class,
    'node--full-with-sidebars',
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="node--full__header">

    {% if content.field_header_carousel|render is not empty %}
      <div class="header__hero grid-container">
          {{ content.field_header_carousel }}
      </div>
    {% endif %}
    <div class="header__text grid-container">
      <div class="header__text__inner">
        <div class="grid-x grid-margin-x">
          {{ title_prefix }}
          <h1{{ title_attributes.addClass(['page-title', 'node--full__title', 'cell', 'small-12']) }}>
            {{ label }}
          </h1>
          {{ title_suffix }}
        </div>
      </div>
    </div>
    {% if breadcrumbs_block %}
      <div class="header__breadcrumbs grid-container">
        <div class="breadcrumbs">
          {{ breadcrumbs_block }}
        </div>
      </div>
    {% endif %}
  </div>

  <div{{ content_attributes.addClass('node--full__content') }}>
    <div class="node--full__body-content grid-container">
      <div class="node--full__body-content__inner">
        <div class="grid-x grid-margin-x">
          {# Body field #}
          <div class="node--full__body cell xlarge-8">
            <div class="found-pet__body">
              {{ content|without('field_header_carousel', 'field_found_photo') }}
            </div>

            {# For some reason we have to use UUID to render this block or the block content is incorrect. #}
            {{ drupal_entity('block', 'found_pet_safe') }}
          </div>

          {# Sidebar #}
          <div class="node--full__sidebar cell xlarge-4">
            {{ drupal_entity('block', 'found_pet_claim') }}

            {{ drupal_entity('block', 'found_pet_microchips') }}
          </div>
        </div>
      </div>
    </div>

    {# Replicate Container Paragraph markup to render Found Pets view block. #}
    <div class="paragraph--type--container paragraph--view-mode--default bg-color--green border-color--none width--full top-padding--xlarge bottom-padding--xlarge subtract-bottom--false">
      <div class="container__inner">
        <h2 class="container__title width--site grid-container">{{ 'Newly-Found Pets'|t }}</h2>
        <div class="container__content width--site grid-container">
          {{ drupal_view('found_pets', 'teaser_block') }}
        </div>
      </div>
    </div>
  </div>

</article>

